<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <button id="autolocate">Click here to Auto Locate</button><br><br>
    <form>
        <input type="text" placeholder="Type your location here">
        <button>Submit</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>